.strict-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .strict-mode-indicator.active {
        position: absolute;
        width: .5em;
        height: .5em;
        top: -.5rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: red;
        border: .05rem solid #424242;
        border-radius: 100%;
        z-index: 1;
        opacity: 1;
    }

    .strict-button {
        height: 2.9rem;
        width: 2.9rem;
        border-radius: 100%;
        border: .1rem solid #424242;
        padding: 0;
    }

    .strict-button-caption {
        text-align: center;
    }
}
