.circle-wrapper {
  width: 80%;
  height: 500px;
  margin: 0 auto; }
  .circle-wrapper .upper-circle {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
    .circle-wrapper .upper-circle .box {
      width: 200px;
      height: 200px;
      background: #fff;
      border: 20px solid #363636; }
    .circle-wrapper .upper-circle .t-l {
      border-top-left-radius: 100%; }
    .circle-wrapper .upper-circle .t-r {
      border-top-right-radius: 100%; }
    .circle-wrapper .upper-circle .b-l {
      border-bottom-left-radius: 100%; }
    .circle-wrapper .upper-circle .b-r {
      border-bottom-right-radius: 100%; }
    .circle-wrapper .upper-circle .yellow {
      background: #b3b335; }
    .circle-wrapper .upper-circle .red {
      background: #ca4444; }
    .circle-wrapper .upper-circle .green {
      background: #3c883c; }
    .circle-wrapper .upper-circle .blue {
      background: #4747ad; }
